# Gradle 관련 파일
.gradle/
build/
!build.gradle
!settings.gradle

# IntelliJ IDEA 관련 파일
.idea/
*.iml

# 로그 파일
*.log

# OS 별 무시 파일들
.DS_Store
Thumbs.db

# 기타
*.lock
*.bin

src/main/resources/application.properties