<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔로 로그 출력 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 - INFO 레벨로 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 애플리케이션 패키지 관련 로그 레벨 설정 - DEBUG 레벨로 설정 -->
    <logger name="com.bside405.perfume.project" level="DEBUG"/>

    <!-- 추가적으로 다른 중요한 패키지들의 로그 레벨 설정 -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache" level="WARN"/>

</configuration>
